<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login - Free Bulma template</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Bulma Version 0.7.4-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Welcome</h3>
          <p class="subtitle has-text-grey">Artefact administration.</p>
          <div class="box">

            <% if(message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <form action="/login" method="post">
              <div class="field">
                <div class="control">
                  <input class="input is-large" type="text" name="username" placeholder="Your username" autofocus="">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
              </div>
              <button type="submit" class="button is-block is-info is-large is-fullwidth">Login</button>
            </form>

            <hr>
            <p>Need an account <a href="/signup">Register</a></p>
            <p>Go Back <a href="/">Home</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>